


@{
    //System.Threading.Thread.Sleep(10000);
    
    }


<form method="post" action="/Vaccine/List">

<input name="sort" value="@ViewBag.text" />

<input type="submit" value="submit" />

</form>
