*{
	font-size:12px;
}
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    font-size:13px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}


a:link
{
    
    text-decoration:none;
}
a:visited
{
    
    text-decoration:none;

}
a:hover
{
    
    text-decoration: none;
}
a:active
{
    
    text-decoration:none;
}

.demo-info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.demo-tip{
	width:16px;
	height:16px;
	margin-right:8px;
	float:left;
}


.ftitle{
    font-size:14px;
    font-weight:bold;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
.fitem{
    margin: 10px 0;
}
.fitem label{
    display:inline-block;
    width:100px;
    text-align:right;
}

textarea {
    width: 250px;
    height:60px;
}
