
<div class="easyui-panel" data-options="fit:true,border:false" style="overflow:hidden;">

<iframe 
    scrolling="no" marginheight="0" marginwidth="0" 
style="height:100%;width:100%; margin:0px; border:0px solid green;padding-bottom:0px;overflow:hidden;" 
 frameborder="0" src="/Report/ReportView.aspx">



</iframe>


</div>

