

    <div id="AttentionTab" class="easyui-tabs" style="" data-options="tabPosition:'top',plain:true,border:false,fit:true">
         <div title="签约相关">
            <div class="easyui-panel" data-options="border:false,fit:true, href:'/Home/PactOverTime'">  </div> 
        </div>

        <div title="清栏相关">
            <div class="easyui-panel" data-options="border:false,fit:true, href:'/Home/CloseOverTime'">  </div> 
        </div>

        <div title="领料异常">
            <div class="easyui-panel" data-options="border:false,fit:true, href:'/Home/FeedOverTime'">  </div> 
        </div>

        <div title="成活率相关">
            <div class="easyui-panel" data-options="border:false,fit:true, href:'/Home/LiveRateShort'">  </div> 
        </div>
    </div>
